<div class="container col-md-12">
  <h2>All Articles by {{title}}</h2>
  <table class="table table-striped">

    <thead>
      <tr>
        <th>Title</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let article of articles$ | async">
        <td>
          {{article.title}}
        </td>
        <td>
          <button type="button" (click)="edit(article._id)" class="btn bt-sm btn-info">
            Edit
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>